body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  overflow: auto;
}

ul {
  width:50%;
}
hr {
  margin-bottom: 1px;
}

#navBar{
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  gap: 2%;
  position: sticky;
  top: 0;
  background-color:rgb(255, 255, 255);
}


nav {
  padding:0 0 0 0 ;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  text-align: center;
}


a:link, a:visited {
  color: rgb(134, 134, 134);
  text-decoration: none;
}

a:hover, a:active {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-decoration: underline hsl(26, 100%, 55%);
  text-decoration-thickness: 4px;
  text-underline-offset: 46px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 6%;
  color: black;
}

#overall{
 font-weight: bold;
}

.filterWhite{
  filter: brightness(400%);
}

#cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1000;
/*   
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 1px 4px 34px 10px rgba(212,212,212,0.75);
  -webkit-box-shadow: 1px 4px 34px 10px rgba(212,212,212,0.75);
  -moz-box-shadow: 1px 4px 34px 10px rgba(212,212,212,0.75); */

} 

.dropdown-menu{
  height: auto;
  width: auto;
}


.info{
  display: flex;
  flex-direction: column;
  gap: 2%
}

#defaultDropdown { 
  background-color: white;
  border: 0;
 }

#button1{
  width: 100%;
  padding-bottom: 2%;
}

#button1, #button2{
  display: none;
}

 .itemInCart { 
  align-items: center;
} 

.priceCalculated{
  display: flex;
  flex-direction: row;
  gap: 2%;
  justify-content: center;
}

#button1{
  padding-bottom: 2%;
}

#productName, #itemQuantity,#price{
  color: rgb(134, 134, 134);
}

.checkOut{
  background-color: hsl(26, 100%, 55%);
  border: none;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 15px;
  color:white;
  align-items: center;
  text-align: center;
  width:90%;
  margin: auto;
  margin-bottom: 10px;
}



.user{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pfp {
  width: 5vw;
}

.pfp:active, .pfp:hover{
  border-radius: 100px;
  box-shadow: 2px hsl(26, 100%, 55%);
  border: 2px solid hsl(26, 100%, 55%);
}

#counter{
  margin:0;
}


.productInfo{
  padding-top:4%;
  margin: 2% 2% 2% 2%;
}


/*only for things in laptop*/
@media screen and (min-width: 640px){

  .dropdown-menu{
    position: fixed;
    top: 10%;
    right: 10%;
  }
  



  #cartContainer{
    width: 25%;
    margin-top: 7%;
    margin-right: 16%;
  }
  .product {
      padding-top:6%;
      display: flex;
      direction: row;
      flex: 0 1 35%;
  }    

  .navbar-brand{
    width: 20%;
  }

  #navBar{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
  

  body {
    margin: 2% 2% 2% 2%;
  }
  
  .pics{
    
    margin-left: 3%;
    margin-right: 3%;
    
  }
}


/*on phones*/
@media screen and (max-width: 992px) {


}

.originalPrice {
  text-decoration: line-through;
  margin-top:1%;
  color: rgb(146, 146, 146);
}

.companyName{
  color: hsl(26, 100%, 55%);
  font-size: 150%;
  font-weight: bold;
}

.sale {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  display: inline;
  border-radius: 10px;
  font-weight: bold;
  padding: 5px;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px
}


#mainPic{
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}


.productPics{
  border-radius: 20px;
  max-width: 100px;
  max-height: 100px;
}

.pics{
  display: flex;
  flex-direction: column;
  gap: 2%;
  
  max-width: 100%;
  justify-content: center;
  align-items: center;
}


.thumbnails{
  
  display: flex;
  justify-content: center;
  max-width:100%;
  gap:2%;
}


.productPics:active, .productPics:hover{
  opacity: 0.4;
  filter: alpha(opacity=40); 
  border-radius: 20px;
  /* border: 2px solid hsl(26, 100%, 55%); */
}

.toCart {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 1; /* additionally, equal width */
  align-items: stretch;
  padding: 1em;


}
 

.quantity {
  background-color: #ededed;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

.cartButton{
  background-color: hsl(26, 100%, 55%);
  border: none;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  color:white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  margin-top: 40px; 
}
.attribution a { color: hsl(228, 45%, 44%); }

